spring:
    datasource:
        password:
        url:
        username:
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect
        hibernate:
            ddl-auto: create-drop
        database: mysql

application:
    security:
        jwt:
            secret-key:
            expiration: 86400000 # 1 day in milliseconds
            refresh-token:
                expiration: 604800000 # 1 week in milliseconds

logging:
    level:
        org:
            springframework:
                jdbc: DEBUG